.news-bg {
  background-image: url("../../images/canaleBannerMd2.png");
  background-position: center;
  object-fit: cover;
  height: 400px;
}

.border-dashed {
  border-bottom: 3px dashed $primary-200;
}
